<div class="jumbotron">
  <h1 class="display-4"> <%= @article.title %></h1>
  <br/>
       <% if (@article.status == 'draft') %>
          <%= link_to 'Archived', article_change_status_path(@article), class:"btn btn-danger" %>
       <% else %>
          <%= link_to 'Archived', article_change_status_path(@article), class:"btn btn-danger disabled"%>
       <% end %>     
  <p><%= @article.status %></p>
  <% if @article.image.exists? %>
    <p><%= image_tag @article.image.url, class:"img-thumbnail" %></p>
  <% end %>  
 <p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
  <br/>
  </p>
  <p class="lead"><h5><%= @article.description %></h5></p>
  <hr class="my-4">
   
   <% if author_signed_in? %>  
  <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-secondary" %>
  <%= link_to 'Back', articles_path, class:"btn btn-dark" %>
   <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
   <% else %>
    <%= link_to 'Back', articles_path, class:"btn btn-dark" %>
    <% end %>
  <br/><br/>
  <h4>Comments <span class="badge badge-secondary badge-pill"><%= @article.comments.size %></span></h4>

  <% if (@article.comments.size != 0) %>
     <% @article.comments.each do |comment| %>
       <div class="card text-center card text-white bg-dark mb-3">
           <div class="card-body">
             <h5 class="card-title">Comment by: <%= comment.author_name %></h5>
             <p class="card-text"><%= comment.body %></p>
           </div>
          <div class="card-footer text-muted">
          <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p>
          </div>
         </div>
         <br/>
     <% end %>
  <% end %>
  <%= render 'comments/form' %>
  <br/>
  <%= link_to 'Back', articles_path %>
</div>
